* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gold-light: #ffd700;
  --gold-regular: #ffcc00;
  --gold-dark: #b8860b;
  --gold-dim: #c1a100;
  --gold-metallic: #d4af37;
  --gold-rose: #b76e00;
  --gold-bronze: #cd7f32;
  --gold-mary: #59cd32;
  --black: #000000;
  --white: #ffffff;
}
.container {
  background-color: var(--gold-light);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
