* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gold-light: #ffd700; /* Light Gold */
  --gold-regular: #ffcc00; /* Regular Gold */
  --gold-dark: #b8860b; /* Dark Gold */
  --gold-dim: #c1a100; /* Dim Gold */
  --gold-metallic: #d4af37; /* Metallic Gold */
  --gold-rose: #b76e00; /* Rose Gold */
  --gold-bronze: #cd7f32; /* Bronze Gold */
  --black: #000000; /* Black */
  --white: #ffffff; /* White */
}
.container {
  background-color: var(--gold-dark);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
